body{
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: #FF9800;
    color: white;
}
#main{
    display: grid;
    grid-template-columns: 1200px;
    grid-template-rows: 200px 200px 200px;
}
#main > #blue-box{
    background-color: #0072CE;
}
#main > #black-box{
    background-color: black;
}
#main > #white-box{
    background-color: white;
}